@import '@wordpress/base-styles/_breakpoints.scss';
@import '@wordpress/base-styles/_mixins.scss';

.sites-overview {
	height: 100vh;
	padding: 16px;
	@include break-large() {
		padding: 0
	}
	@include break-wide() {
		padding: 16px;
	}
	&__status {
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 6px 8px;
		width: fit-content;
		height: 22px;
		background: #FFFFFF;
		box-sizing: border-box;
		border-radius: 12px;
		font-weight: 500;
		color: #FFFFFF;
		font-size: 8px;
		vertical-align: middle;
		@include break-medium() {
			font-size: 8px;
			padding: 12px;
		}
		@include break-large() {
			padding: 5px;
		}
		@include break-xlarge() {
			font-size: 9px;
		}
		@include break-wide() {
			padding: 6px;
			font-size: 10px;
		}
	}
	&__status-critical {
		color: #D63638;
		position: absolute;
		right: 42px;
		top: 50%;
    	transform: translateY(-50%);
		display: inline-flex;
		@include break-large() {
			display: none;
		}

	}
	&__status-add-new {
		color: #2C3338;
		border: 1px solid #DCDCDE;
		padding: 2px 11px;
		span {
			margin: 0 0.2em;
		}
		svg {
			margin-left: -0.4em;
		}
		&:hover {
			background: #2C3338;
			color: #FFFFFF;
		}
	}
	&__grey-icon {
		vertical-align: middle;
		color: #787C82
	}
	&__icon-active {
		vertical-align: middle;
		color: #DCDCDE;
	}
	&__disabled {
		color: #DCDCDE;
		cursor: not-allowed;
	}
	&__row-text {
		display: inline-block;
		font-weight: 500;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: clip;
		vertical-align: middle;
		color: #101517;
		@include break-zoomed-in {
			width: calc(100% - 100px);
			margin-left: 24px;
			margin-right: 5px;
			font-size: 16px;
		}
		@include break-large() {
			width: 100%;
			margin-left: 0;
			font-size: 14px;
		}
	}
	&__icon {
		margin: 0.3em;
		@include break-medium() {
			margin-right: 0.5em;
		}
	}
	&__vertical-align-middle {
		vertical-align: middle;
	}
	&__error-container {
		background: #414141;
		margin: 0 -6px;
		display: flex;
		align-items: center;
		height: 40px;
		@include break-large() {
			margin: 8px;
		}
	}
	&__error-icon {
		background: #D94F4F;
		padding: 11px;
		color: #FFFFFF;
		width: 5%;
		display: flex;
		align-items: center;
		justify-content: center;
		@include break-large() {
			width: auto;
		}
	}
	&__error-message {
		font-size: 12px;
		color: #FFFFFF;
		padding:0.5em;
		margin: auto 0;
	}
	&__error-message-large-screen {
		display: none;
		@include break-large() {
			display: inline-block;
		}
	}
	&__error-message-small-screen {
		display: inline-block;
		@include break-large() {
			display: none
		}
	}
	&__error-message-link {
		font-size: 12px;
		text-decoration: underline;
		color: #BBBBBB!important;
		padding: 6px;
		position: absolute;
		right: 16px;
	}
	&__font-size-12px {
		font-size: 12px!important;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		@include break-large() {
			font-size: 10px!important;
			max-width: 70px;
		}
		@include break-wide() {
			font-size: 12px!important;
			max-width: fit-content;
		}
	}
}
