
@import '@wordpress/base-styles/_breakpoints.scss';
@import '@wordpress/base-styles/_mixins.scss';

.site-table {
	&__table {
		display: none;
		@include break-large() {
			display: table;
		}
		margin-top: 16px;
		border: 1px solid #DCDCDE;
		border-collapse: collapse;
		tr {
			height: 1px;
		}
		th {
			font-size: 14px;
			color: #646970;
			padding: 12px;
			font-weight: 400;
		}
		td {
			color: #101517;
			font-size: 13px;
			height: inherit;
			padding: 5px 10px;
			&:first-child {
				position: relative;
				width: initial;
				@include break-large() {
					width: 200px;
				}
				@include break-xlarge() {
					width: 300px;
				}
				@include break-wide() {
					width: 400px;
				}
				@include break-huge() {
					width: 500px;
				}
			}
		}
		td, th {
			border: 1px solid #dddddd;
			text-align: left;
			border-collapse: collapse;
			vertical-align: middle;
		}
	}
	&__inline-flex {
		display: inline-flex;
		width: 100%;
	}
}


td.site-table__actions {
	padding: 0;
	.table-actions {
		&__grey-icon, &__all-actions {
			margin: auto;
			height: 100%;
		}
	}
}
