
@import '@wordpress/base-styles/_breakpoints.scss';
@import '@wordpress/base-styles/_mixins.scss';

.site-content {
	&__mobile-view {
		margin: 1em 0;
		padding: 0 1em;
		@include break-large() {
			display: none;
		}
	}
}
