
@import '@wordpress/base-styles/_breakpoints.scss';
@import '@wordpress/base-styles/_mixins.scss';


.sites-overview {
	height: 100vh;
}
.site-table {
	margin-top: 16px;
	&__nav {
		position: relative;
	}

	&__button {
		// Button needs to be above the list to partly hide its top border
		position: relative;
		z-index: 1;

		display: flex;
		justify-content: center;
		align-items: center;

		// Minimum recommended width for touch interactions
		min-width: 48px;
		height: 100%;

		background: var( --color-surface );

		cursor: pointer;

		&[aria-expanded='true'] {
			box-shadow: -1px 0 var( --studio-gray-20 );
		}

		&:hover,
		&:focus {
			img {
				transform: scale( 1.2 );
			}
		}
	}

	// Hide focus state right after a user clicked the button. The focus state
	// is still shown if we know the user is using a keyboard exclusively.
	html.accessible-focus &__button:focus {
		box-shadow: inset 0 0 0 2px var( --color-primary-light );
	}

	&__button-gravatar {
		transform-origin: center center;
		transition: all 0.1s ease;
	}

	&__list {
		position: absolute;
		right: -1px;
		top: calc( 100% - 1px );
		z-index: 2;
		width: 220px;
		margin: 0;
		padding: 0 16px;

		background: var( --color-surface );
		border: 1px solid var( --studio-gray-20 );
		box-shadow: 0 4px 6px rgba( var( --studio-gray-100-rgb ), 0.1 ),
			0 1px 2px rgba( var( --studio-gray-100-rgb ), 0.1 );
		list-style-type: none;

		font-size: $font-body-small;

		// Required for older browsers
		&[hidden] {
			display: none;
		}
	}

	&__list-item {
		margin: 16px 0;
	}

	&__display-name {
		display: block;

		color: var( --color-text );

		font-size: $font-body;
		font-weight: 700;
	}

	&__username {
		word-break: break-word;
	}

	&__logout {
		color: var( --color-link );
		text-decoration: underline;

		cursor: pointer;

		&:hover {
			color: var( --color-link-dark );
			text-decoration: none;
		}

		&:focus {
			box-shadow: 0 0 0 2px var( --color-primary-light );
		}
	}
}


.site-table{
	&__row {
		display: grid;
		grid-template-columns: calc( 66% - 12px ) calc( 34% - 12px );
		align-items: center;
		grid-gap: 24px;
		font-size: 1.25rem;

		@include break-zoomed-in {
			grid-template-columns: auto
		}

		@include break-medium() {
			grid-template-columns: 24% repeat(4, 12%) 20px;
		}

		@include break-large() {
			grid-template-columns: 22% repeat(4, 13%) 40px
		}

		@include break-xlarge() {
			grid-template-columns: 37% repeat(4, 11%) 40px;
		}

		@include break-wide() {
			grid-template-columns: 30% repeat(4, 13%) 50px;
		}

		@include break-huge() {
			grid-template-columns: 30% repeat(4, 14%) 50px;
		}


	}

	&__row-data {
		display: none;
    	align-items: center;

		@include break-medium() {
			display: block;
			text-align: center;
		}
		@include break-xlarge() {
			display: inline-flex;
    		align-items: center;
		}
	}

	&__first-row, &__show-row-data {
		display: inline-flex;
	}

	&__header {
		display: none;

		* {
			font-weight: 400;
			font-size: 0.875rem;
			color: var( --studio-gray-70 );
			@include break-medium() {
				font-size: 0.65rem;
			}
			@include break-wide() {
				font-size: 0.875rem;
			}
		}
		@include break-medium() {
			display: block;
		}
	}

	&__actions-large-screen {
		display: none;
		@include break-medium() {
			display: block;
		}
	}

	&__small-screen {
		display: inline-block;
		@include break-medium() {
			display: none;
		}
	}

	&__actions-small-screen {
		display: inline-block;
		position: absolute;
		right: 20px;
		@include break-medium() {
			display: none;
		}
	}

	&__columns-small-screen {
		display: block;
		margin-right: 0.5em;
		font-size: 12px;
		@include break-medium() {
			display: none;
		}
	}

	&__status {
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 6px 8px;
		width: fit-content;
		height: 22px;
		background: #FFFFFF;
		box-sizing: border-box;
		border-radius: 12px;
		font-weight: 700;
		color: #FFFFFF;
		font-size: 8px;
		@include break-medium() {
			font-size: 8px;
			padding: 12px;
		}
		@include break-large() {
			font-size: 10px;
			padding: 6px 8px;
		}
	}
	&__status-error {
		border: 1px solid #D63638;
		color: #D63638;
	}
	&__status-critical {
		border: 1px solid #D63638;
		background: #D63638;
		position: absolute;
		right: 50px;
		border-radius: 50%;
		height: 20px;
		width: 20px;
		padding: 0px;
		@include break-zoomed-in {
			position: absolute;
   			right: 50px;
			   span {
				display: none;
			   }
		}
		@include break-medium() {
			position: static;
			border-radius: 12px;
			padding: 6px 8px;
			width: fit-content;
			height: 22px;
			span {
				display: inline;
			   }
		}
	}
	&__status-warning {
		border: 1px solid #F0C930;
		color: #F0C930;
	}
	&__status-add-new {
		color: #787C82;
		border: 1px solid #F6F7F7;
		span {
			margin: 0.5em;
		}
	}
	&__row-text {
		font-weight: 400;
		font-size: 13px;
		line-height: 18px;
		margin: 1em;
	}
}
