
@import '@wordpress/base-styles/_breakpoints.scss';
@import '@wordpress/base-styles/_mixins.scss';

.site-actions {
	&__actions-large-screen {
		cursor: pointer;
		display: none;
		@include break-large() {
			display: block;
		}
		height: 100%;
		text-align: center;
		justify-content: center;
		align-items: center;
		&:focus {
			background: #000000;
			svg.site-actions__all-actions {
				color: #FFFFFF;
			}
		}
	}


	&__actions-small-screen {
		cursor: pointer;
		position: absolute;
		right: 16px;
		@include break-large() {
			display: none;
		}
		&:focus {
			background: #000000;
			svg.site-actions__all-actions {
				color: #FFFFFF;
			}
		}
	}

	&__action-menu {
		position: absolute;
		right: 20px;
		z-index: 1;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		background: #FFFFFF;
		min-width: 160px;
	}
	&__action-menu-list  {
		margin: 0;
		text-align: left;
		li {
			font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			padding: 10px;
			border-style: solid;
			border-color:  #AAAAAA;
			border-width: 0 1px 1px 1px;
				&:hover {
					background: #000000;
					color: #FFFFFF;
					cursor: pointer;
				}
			list-style: none;
			color: #000000;
			@include break-medium() {
				font-size: 14px;
			}
		}
		a {
			&:first-child {
				li {
					border-top-width: 1px;
				}
			}
			&:last-child {
				li {
					border-bottom-width: 1px;
				}
			}
		}
	}
	&__table-action-icon {
		vertical-align: middle;
		position: absolute;
		right: 10px;
	}
	&__all-actions {
		vertical-align: middle;
		display: flex;
		color: #787C82;
		margin: 0 0.1em;
		@include break-large() {
			display: inline-flex;
			height: 100%;
		}
	}
}


